.colorDisplayer{
    width: 100%;
    height: 200px;
    border-radius: 0.75rem;
}
.flex{
    display: flex;
}

.mb_1rem{
    margin-bottom: 1rem;
}
.mb_2rem{
    margin-bottom: 2rem;
}

.justify_center{
    justify-content: center;
}
.justify_between{
    justify-content: space-between;
}

.aligne_items{
    align-items: center;
}

.flex_col {
    flex-direction: column;
}
.colorsBtns{
    margin: 1rem 0.5rem;
    padding: 10px;
}

.score{
    font-size: 32px;
}
.text_center{
    text-align: center;
}


.correct {
    color: #0a0;
    animation: fadeInOut 1s ease-in-out;
}

.wrong {
    color: #a00;
    animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}